.container {
	display: flex;
	justify-content: space-between;
	margin: 31px 390px;
}
.left {
	font-family: "Roboto", sans-serif;
}
.line {
	height: 10px;
	width: 221px;
	background-color: rgb(241,197,14);
}
img {
	height: 300px;
	width: 300px;
	border-radius: 158px;
}
ul {
	list-style: none;
	margin-left: -42px;
}
p {
	font-style: italic;
}
